<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jobs</title>
    </head>
    <body>
        <!--<div style = "margin: auto; width: 50%; text-align: center;">-->
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                {% for job in jobs %}
               <tr>
                   <td>{{job.id}}</td>
                   <td>{{job.title}}</td>
               </tr>
               {% endfor %}
            </table>

            <form action="/jcm/job/" method="post">
                {% csrf_token %}
                <!--{{ form }}-->
                <input id="title" type="text" name="title" maxlength="100" required>
                <input type="submit" value="Submit">
            </form>
        <!--</div>-->
    </body>
</html>