<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to JCM !!</title>
    </head>
    <body>
        <div style = "margin: auto; width: 50%; text-align: center;">
            {% load static %} <img src="{% static 'jcm/logos/logo1.png' %}" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
            <p>Hello World!</p>
            <button onclick="location.href = '/jcm/skill/'">Show Skills</button>
            <button onclick="location.href = '/jcm/job/'">Show Jobs</button>
            <button onclick="location.href = '/jcm/candidate/'">Show Candidates</button>
        </div>
    </body>
</html>
