<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Candidats for job {{ job_name }}</title>
    </head>
    <body>
        <!--<div style = "margin: auto; width: 50%; text-align: center;">-->
            <table>
                <tr>
                    <th>ID</th>
                    <!--<th>Name</th>-->
                </tr>
                {% for candidate_id in candidates_ids %}
               <tr>
                   <td>{{ candidate_id }}</td>
                   <!--<td>{{skill.name}}</td>-->
               </tr>
               {% endfor %}
            </table>

        <!--
            <form action="/jcm/skill/" method="post">

                {% csrf_token %}

                <input id="name" type="text" name="name" maxlength="100" required>
                <input type="submit" value="Submit">
            </form>
        -->
        <!--</div>-->
    </body>
</html>