<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for skill in skills %}
       <tr>
           <td>{{skill.id}}</td>
           <td>{{skill.name}}</td>
       </tr>
       {% endfor %}
    </table>

    <form action="/jcm/skill/" method="post">
        {% csrf_token %}
        <!--{{ form }}-->
        <input id="name" type="text" name="name" maxlength="100" required>
        <input type="submit" value="Submit">
    </form>


</body>
</html>